<html>
  <head>
    <title>MapR Distributed Image Processing</title>
  </head>
  <body>
    <img src="{{url_for('static', filename='mapr-logo.png')}}" align="middle" height="100"/>
    <h1>Distributed Image Processing</h1>
    <table style="width:100%">
    <tr>
      <th width="50%">Source</th>
      <th width="50%">Detected</th>
    </tr>
    <tr>
      <th>/frenchpatrol/pilote:images</th>
      <th>/frenchpatrol/detection:images</th>
    </tr>
    <tr>
      <td><img src="video_pilote_images" width="300px"></td>
      <td><img src="video_detection_images" width="300px"></td>
    </tr>
  </table>
  </body>
</html>
