<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Eye In The Sky</title>
  <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='teits.css')}}">
</head>
<body> 
  <div class="row">
    <div class="col-md-7 drop" id="main_map">
      {% for zone in zones %}
        <div class="border-visible drag zone"
             id="{{zone._id}}" 
             style="position: absolute; height:{{zone.height}}px;width: {{zone.width}}px; top:{{zone.top}}px;left:{{zone.left}}px">
        </div>
      {% endfor %}
    </div>
    <div class="col-md-5 align-middle">

    <h4>Background image</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <hr>
    <h4>Edit drop zone</h1>
      name: <input type="text" id="zone_name"><br>
      width: <input type="text" id="zone_width"><br>
      height: <input type="text" id="zone_height"><br>
      top: <input type="text" id="zone_top"><br>
      left: <input type="text" id="zone_left"><br>
      <hr>
      <h4> Zone positionning </h4>
      x_position: <input type="text" id="zone_x"><br>
      y_position: <input type="text" id="zone_y"><br>
      x and y are positionning each zone using cartesian coordinates <br>
      (x to the right, y to the front).<br>
      x and y are in meters.<br>
      At start time, drone are oriented to the front. <br>
      <button id="zone_save">Save</button><button id="zone_delete">Delete</button>
    </div>
  </div>


  


</body>

  <script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.4.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='highcharts.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='exporting.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='teits.js')}}"></script>
</html>