<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='globalfront.css')}}">

    <title>MapR Demo - Global UI</title>
  </head>
  <body>
    <div class="row" id="top_image" style="width:100%">
      <img src="{{url_for('static', filename='header.png')}}" class="img-fluid" style="width:100%;height:120px" alt="Responsive image">
      <div class="country_name">Global Monitoring</div>
    </div>
    <div class="row">
      <div class="col-md-2 pl-5 pr-5">
        <div class="">Events replicated</div>
        <div class="events" id="event_counter">
            <p class="counter-count" id="event_count" data-count="0"></p>
        </div>
        <button id="replicate_streams" class="btn btn-danger btn-sm">Replicate streams</button><p><p>
        <div id="stream_selector">
          <input name="stream" id="all_streams" type="checkbox" checked="checked">All cities<p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row p-5" >
          <div class="col-md-6">
            <div class="radio">
              <label class="radio-inline"><input id="consolidate_radio" type="radio" name="consolidate_streams" checked="checked">Consolidated</label>
              <label class="radio-inline"><input type="radio" name="consolidate_streams">Individual</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="radio">
              <label class="radio-inline"><input id="count_radio" type="radio" name="pollution_count" checked="checked">Vehicle count</label>
              <label class="radio-inline"><input type="radio" name="pollution_count">CO2 emissions</label>
            </div>
          </div>
        </div>
        <div id="charts" class="row"></div>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='popper.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='highcharts.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='exporting.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static', filename='globalfront.js')}}"></script>

  </body>
</html>
