<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Eye In The Sky</title>
  <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='teits.css')}}">
</head>
<body> 
  <div id="main">
    <div class="row h-100">
      <div class="col-5 col-sm-5 col-md-7 col-lg-7" id="main_map">
        {% for zone in zones %}
          <div class="border-visible drop zone"
               id="{{zone._id}}" 
               style="position: absolute; height:{{zone.height}}%;width: {{zone.width}}%; top:{{zone.top}}%;left:{{zone.left}}%">
          </div>
        {% endfor %}
        <div class="border-visible drag drone" id="drone_1" ></div>
        <div class="border-visible drag drone" id="drone_2" ></div>
        <div class="border-visible drag drone" id="drone_3" ></div>
      </div>



      <div class="col-7 col-sm-7 col-md-5 col-lg-5" id="control_panel">
        <div class="row" id="command_buttons">
          <div class="col-3">
            <button id="new_drone_button" class="btn">New Drone</button>
          </div>
          <div class="col-3">
            <button id="patrol_button" class="btn">Patrol</button>
          </div>
          <div class="col-3">
            <button id="back_home_button" class="btn">Back Home</button>
          </div>
          <div class="col-3">
            <select class="form-control" id="video_stream_selector">
             <option value=raw>Source</option>
             <option value=faces>Processed</option>
            </select>
          </div>
        </div> 
        <div class="row drone_ui border-visible" id="drone_1_ui" drone_id="drone_1">
            <div class="drone_info"></div>
            <div class="count" id="drone_1_count"></div>
            <div class="battery_pct" id="drone_1_battery"></div>
            <div class="battery_gauge" id="drone_1_battery_gauge"></div>
            <div class="speed" id="drone_1_speed"></div>
            <div class="speed_gauge" id="drone_1_speed_gauge"></div>
            <div class="count_graph" id="drone_1_count_graph"></div>
            <div class="connection_status blink" id="drone_1_connection_status"></div>
            <div class="connection_status_video blink"></div>
            <img src="video_stream/drone_1" class="drone_video">
        </div>
      </div> 
    </div>
  </div>
</body>

  <script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.4.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='highcharts.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='exporting.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='teits.js')}}"></script>
</html>