<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Eye In The Sky</title>
  <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='teits.css')}}">
</head>
<body> 
  <div class="border-visible drop" id="arcdetriomphe"></div>
  <div class="border-visible drop" id="toureiffel"></div>
  <div class="border-visible drop" id="montparnasse"></div>
  <div class="border-visible drop" id="notredame"></div>
  <div class="border-visible drop" id="republique"></div>
  <div class="border-visible drop" id="sacrecoeur"></div>
  <div class="border-visible drop" id="geode"></div>


  <div class="border-visible drone_1 drag" id="source_docker_image"></div>

 <!--  
  <div class="border-visible docker_image_green drag" id="europe_docker_image"></div>
  <div class="border-visible docker_image_green drag" id="north-america_docker_image"></div>
  <div class="border-visible docker_image_green drag" id="australia_docker_image"></div>
  <div class="border-visible drop" id="recycle"></div>
  <div class="border-visible show_chart" id="north-america_streams"></div>
  <div class="border-visible show_chart" id="europe_streams"></div>
  <div class="border-visible show_chart" id="australia_streams"></div>
  <div class="border-visible drop" id="global_streams"></div>
  <div class="border-visible" id="global_charts"></div>
  <div class="border-visible country_charts" id="north-america_charts"></div>
  <div class="border-visible country_charts" id="europe_charts"></div>
  <div class="border-visible country_charts" id="australia_charts"></div>
  <button id="replicate_streams" class="btn btn-danger btn-sm">Replicate streams</button> -->


<!--   <div class="border-visible drop" id="africa"></div>
  <div class="border-visible drop" id="south-america"></div>
  <div class="border-visible drop" id="russia"></div>
  <div class="border-visible drop" id="middle-east"></div>
  <div class="border-visible drop" id="india"></div>
  <div class="border-visible drop" id="china"></div>
  <div class="border-visible drop" id="oceania"></div> -->

</body>

  <script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.4.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='highcharts.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='exporting.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='teits.js')}}"></script>
</html>