body {
    color:black;
    background-image:url(world_map4.png);
    background-repeat:no-repeat;
}

.border-visible {
/*  border-color: black;
  border-width: 1px;
  border-style: solid;*/
}

#north-america {
  position: fixed;
  top: 50px;
  left: 0;
  width: 400px;
  height: 200px;
}

#north-america_UI {
  position: fixed;
  border-radius: 50px; 
  top: 160px;
  left: 125px;
  width: 60px;
  height: 60px;}


#south-america {
  position: fixed;
  top: 300px;
  left: 220px;
  width: 200px;
  height: 300px;
}

#europe  {
  position: fixed;
  top: 50px;
  left: 500px;
  width: 200px;
  height: 150px;
}

#europe_UI  {
  position: fixed;
  border-radius: 50px; 
  top: 110px;
  left: 555px;
  width: 60px;
  height: 60px;
}

#africa  {
  position: fixed;
  top: 220px;
  left: 500px;
  width: 220px;
  height: 280px;
}


#russia  {
  position: fixed;
  top: 50px;
  left: 730px;
  width: 320px;
  height: 120px;
}


#middle-east  {
  position: fixed;
  top: 180px;
  left: 730px;
  width: 80px;
  height: 120px;
}

#india {
  position: fixed;
  top: 230px;
  left: 830px;
  width: 90px;
  height: 110px;
}

#china  {
  position: fixed;
  top: 180px;
  left: 925px;
  width: 150px;
  height: 120px;
}

#oceania  {
  position: fixed;
  top: 320px;
  left: 950px;
  width: 300px;
  height: 90px;
}


#australia  {
  position: fixed;
  top: 420px;
  left: 1000px;
  width: 200px;
  height: 140px;
}

#australia_UI  {
  position: fixed;
  border-radius: 50px; 
  top: 445px;
  left: 1080px;
  width: 60px;
  height: 60px;
}


#global_UI  {
  position: fixed;
  border-radius: 50px; 
  top: 350px;
  left: 515px;
  width: 100px;
  height: 100px;
}



#source_docker_image  {
  position: fixed;
  top: 460px;
  left: 535px;
  width: 50px;
  height: 50px;
  background-image: url(docker_image.png);
  background-size: cover;
}

#europe_docker_image  {
  position: fixed;
  top: 110px;
  left: 620px;
  width: 50px;
  height: 50px;
  display: none;
  background-image: url(docker_image_green.png);
  background-size: cover;
}

#north-america_docker_image  {
  position: fixed;
  top: 165px;
  left: 195px;
  width: 50px;
  height: 50px;
  display: none;
  background-image: url(docker_image_green.png);
  background-size: cover;
}

#australia_docker_image  {
  position: fixed;
  top: 450px;
  left: 1025px;
  width: 50px;
  height: 50px;
  display: none;
  background-image: url(docker_image_green.png);
  background-size: cover;
}

#recycle  {
  position: fixed;
  top: 520px;
  left: 60px;
  width: 70px;
  height: 100px;
}

#north-america_streams  {
  position: fixed;
  top: 165px;
  left: 255px;
  width: 100px;
  height: 40px;
  display: none;
  background-image: url(mapres.png);
  background-size: cover;
}

#europe_streams  {
  position: fixed;
  top: 110px;
  left: 680px;
  width: 100px;
  height: 40px;
  display: none;
  background-image: url(mapres.png);
  background-size: cover;
}

#australia_streams  {
  position: fixed;
  top: 450px;
  left: 914px;
  width: 100px;
  height: 40px;
  display: none;
  background-image: url(mapres.png);
  background-size: cover;
}

#global_streams  {
  position: fixed;
  top: 350px;
  left: 620px;
  width: 100px;
  height: 120px;
  display: none;
  background-image: url(mapres.png);
}

#replicate_streams  {
  position: fixed;
  font-size: 15px;
  font-weight: bold;
  top: 550px;
  left: 500px;
  width: 150px;
  height: 50px;
  display: none;
}

#global_charts  {
  position: fixed;
  top: 10px;
  left: 1300px;
  width: 400px;
  height: 600px;
}

#north-america_charts  {
  position: fixed;
  top: 300px;
  left: 20px;
  width: 300px;
  height: 200px;
}

#europe_charts  {
  position: fixed;
  top: 10px;
  left: 780px;
  width: 300px;
  height: 200px;
}

#australia_charts  {
  position: fixed;
  top: 500px;
  left: 725px;
  width: 300px;
  height: 200px;
}

.country_charts  {
    display: none;
}

