

#top_image {
    position: relative;
    text-align: center;
    color: white;
}

.country_name {
    position: absolute;
    font-size: 80px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}