.border-visible {
  border-color: black;
  border-width: 0px;
  border-style: solid;
}

body {
    overflow:hidden;
}

#main {
  height: 100vh;
/*  position: absolute;
*/}

#main_map {
    color:black;
    background-image:url(background);
    background-repeat:no-repeat;
    background-size:100% 100%;
    height: 100%;
    width: 100%;
}

.drone {
  position: absolute;
  width: 10%;
  height: 10%;
  background-image: url(drone.png);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center; 
  z-index: 100;
}


#control_panel {

}

#command_buttons div {
  text-align: center;
  line-height:60px;
}

#command_buttons button {
  vertical-align: middle;
  line-height: 20px;
}


.drone_ui  {
  position: relative;
  height: 50%;
}

.drone_info {
  position: relative;
  background-image: url(coyote_empty.png);
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center; 
  text-align: center;
  height: 100%;
  width: auto; 
}

.battery_gauge {
  position: relative;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  height: 100%;
  width: auto;
}

.battery_100{
    background-image: url(battery_100.png);
}
.battery_75{
    background-image: url(battery_75.png);
}
.battery_50{
    background-image: url(battery_50.png);
}
.battery_25{
    background-image: url(battery_25.png);
}

.battery_15{
    background-image: url(battery_15.png);
}


.count {
  position: absolute;
  color: #6CFC5F;
  font-size: 10vh;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.battery_pct {
  position: absolute;
  color: #6CFC5F;
  font-size: 5vh;
  top: 50%;
  left: 50%;
  transform: translate(-200%,200%); /* left, top , in % of current div */
}

.speed {
  position: absolute;
  color: #6CFC5F;
  font-size: 5vh;
  top: 50%;
  left: 50%;
  transform: translate(40%,200%); /* left, top , in % of current div */
}




.drone_video  {
  height: 100%;
}



.zone_settings input {
  width: 80%;
}

.edit_instructions {
  font-size: 10px;
}