
 #zone1{position: fixed; top: 500px; left: 500px; width: 123px; height: 321px;}
 #zone1{position: fixed; top: 500px; left: 500px; width: 123px; height: 321px;}
 #zone1{position: fixed; top: 500px; left: 500px; width: 123px; height: 321px;}
 #zone1{position: fixed; top: 500px; left: 500px; width: 123px; height: 321px;}
 #zone1{position: fixed; top: 500px; left: 500px; width: 123px; height: 321px;}
 #zone1{position: fixed; top: 500px; left: 500px; width: 123px; height: 321px;}
 #zone2{position: fixed; top: 500px; left: 500px; width: 100px; height: 100px;}
 #zone3{position: fixed; top: 500px; left: 500px; width: 50px; height: 50px;}