<!doctype html>
<!-- <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Eye In The Sky</title>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='teits.css')}}">
  </head>

  <body>  -->

    <iframe src="https://www.youtube.com/embed/iV40iGZzfYQ" height="100%" frameborder="0" allowfullscreen></iframe>

<!--   </body>

  <script type="text/javascript" src="{{url_for('static', filename='jquery-1.12.4.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='jquery-ui.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='highcharts.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='exporting.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='teits_recorder.js')}}"></script>
</html> -->